<div id="<%= dom_id publication %>"> 
      <div class="card">        
        <div class="card-body">
            <% publication.images.each do |image| %>
               <%= image_tag image, class: "card-img-top" if image.present? %>
            <% end %>          
          <p class="card-text text-start"> <p><strong></strong><%= publication.description %></p></p> 
        </div>
        <div class= "ver_publicacion text-center">
          <%= link_to "Ver publicación", publication, class: "nav-link" %>    
        </div>
      </div>

