
<div class="container">
  <div class="row">
      <div class="col">
      </div>
      <div class="col">
          <h1>Crear Publicación</h1>
          <%= render "form", publication: @publication %>
      </div>
      <div class="col">
      </div>          
      <div class="container mt-5 text-center">    
          <%= link_to "Volver a las publicaciones", home_index_path %>  
      </div>      
    </div>
</div>