.rounded-circle {
    width: 150px;
    height: 200px;
  }

.rounded-circle-comment{
    width: auto;
    height: 100px;
      border-radius: 100px;
} 
.btn{
  background-color: teal;
}
  
.navbar{
  background-color: teal;
}

