<h1>Comentario#index</h1>
<p>Find me in app/views/comentario/index.html.erb</p>

<% comentario.each do |x| %>
    <%= x, class: "card-img-top" if image.present? %>
<% end %>   
<%= image_tag current_user.image, class: 'rounded-circle w-50'%>
